version: '3.8'
services:
  victim:
    build: ./ddos_lab/victim
    container_name: itsec_victim
    ports:
      - "8080:80"   # Webserver erreichbar auf Host:8080
    volumes:
      - ./ddos_lab/victim/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./ddos_lab/logs:/var/log/nginx
    networks:
      - itsec-net

  attacker:
    build: ./ddos_lab/attacker
    container_name: itsec_attacker
    depends_on:
      - victim
    networks:
      - itsec-net

networks:
  itsec-net:
    driver: bridge